################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTS/NP.Tests.SimpleStatelessBehaviorTest/obj/Debug
/TESTS/NP.Tests.SimpleStatelessBehaviorTest/.vs/NP.Tests.SimpleStatelessBehaviorTest/v15
/NP.Paradigms/obj/Debug
/NP.Paradigms/bin/Debug
/TESTS/NP.Tests.SimpleStatelessBehaviorTest/bin/Debug
/TESTS/NP.Tests.CollectionBehaviorTest/.vs/NP.Tests.CollectionBehaviorTest/v15/Server/sqlite3
/TESTS/NP.Tests.CollectionBehaviorTest/.vs/NP.Tests.CollectionBehaviorTest/v15
/TESTS/NP.Tests.CollectionBehaviorTest/obj/Debug
/TESTS/NP.Tests.CollectionBehaviorTest/bin/Debug
/TESTS/NP.Tests.ItemsCollectionTest/.vs/NP.Tests.CollectionBehaviorTest/v15
/TESTS/NP.Tests.ItemsCollectionTest/.vs/NP.Tests.ItemsCollectionTest/v15/Server/sqlite3
/TESTS/NP.Tests.ItemsCollectionTest/bin/Debug
/TESTS/NP.Tests.ItemsCollectionTest/obj/Debug
/TESTS/NP.Tests.ItemsCollectionBehaviorTest/.vs/NP.Tests.CollectionBehaviorTest/v15
/TESTS/NP.Tests.ItemsCollectionBehaviorTest/.vs/NP.Tests.ItemsCollectionBehaviorTest/v15/Server/sqlite3
/TESTS/NP.Tests.ItemsCollectionBehaviorTest/.vs/NP.Tests.ItemsCollectionTest/v15
/TESTS/NP.Tests.ItemsCollectionBehaviorTest/bin/Debug
/TESTS/NP.Tests.ItemsCollectionBehaviorTest/obj/Debug
*.suo
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorTest/.vs/NP.Tests.CollectionBehaviorTest/v15/Server/sqlite3
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorTest/.vs/NP.Tests.ItemsCollectionBehaviorTest/v15/Server/sqlite3
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorTest/.vs/NP.Tests.ItemsCollectionTest/v15/Server/sqlite3
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorTest/bin/Debug
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorTest/obj/Debug
*.lock
*.ide
*.ide-shm
*.ide-wal
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorWithChainingTest/bin/Debug
/TESTS/NP.Tests.ItemsCollectionDisposableBehaviorWithChainingTest/obj/Debug
/TESTS/NP.Tests.SingleItemBehaviorTest/bin/Debug
/TESTS/NP.Tests.SingleItemBehaviorTest/obj/Debug
/TESTS/NP.Tests.NP.Tests.ItemsCollectionDisposableChainedBehaviorTest/obj/Debug
