################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTS/NP.Tests.SimpleStatelessBehaviorTest/obj/Debug
